.nav-bar {
    display: flex;
    background-color: rgb(160, 127, 127);
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(66, 74, 82);
}

.nav-list a:hover {
    background-color: rgb(127, 117, 117);
}

.nav-btn {
    display: none;
}

@media (max-width:1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(160, 127, 127);
        color: aliceblue;
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }
    .nav-btn:hover{
        background-color: rgb(115, 109, 102);
    }

    /* position:absolute   */
    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(160, 127, 127);
    }

    .nav-bar{
        justify-content: space-between;
    }

}